body{
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

#To-Do-List_Body{
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
}

#H1{
    font-family: sans-serif;
}

#Main_Tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 7.5px;
    border-radius: 12.5px;
}

#Task_Bar{
    display: flex;
    gap: 50px;
}

.Task_Btn{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: white;
    border: 0;
}

#Search_Bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 500px;
    height: 50px;
    border-radius: 12.5px;
    border: 0;
}