body{
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
        font-family: sans-serif;
}

#To-Do-List_Body{
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
}

#H1{
    font-size: 40px;
}

#Tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 7.5px;
    border-radius: 12.5px;
    margin-bottom: 30px;
}

#MainBody{
    display: block;
    justify-content: center;
    align-items: center;
}

#Task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 12.5px;
    width: 510px;
    height: 80px;
    margin-bottom: 15px;
    list-style: none;
    outline: 2px solid #F5F5F5;;
}

.CheckBox{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    outline: 2px solid #A9A9A9;
    transform: translateX(15px);
    background-color: white;
    border: 0;
}

.TaskInfo{
    transform: translateX(-410px);
}

.TimeInfo{
    display: flex;
    align-items: center;
}

.timeImage{
    width: 15px;
    height: 15px;
}

.Task-Time{
    margin-left: 7px;
}

#Task_Bar{
    display: flex;
    gap: 50px;
}

.Task_Btn{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: white;
    border: 0;
}

#AddingTask{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 510px;
    height: 50px;
    border-radius: 12.5px;
    border: 0;
}

#TaskName{
    background-color: #F0F0F0;
    width: 500px;
    height: 40px;
    border-radius: 12.5px;
    border: 0;
    outline: 0;
}

#AddButton{
    border: 0;
}

.addImage{
    width: 25px;
    height: auto;
    margin-top: px;
}