body{
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

#To-Do-List_Body{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
}

#H1{
    font-family: sans-serif;
}

#Main_Tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 400px;
    height: 55px;
    border-radius: 12.5px;
}

#Task_Bar{
    display: flex;
    gap: 50px;
}

#Search_Bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 392.5px;
    height: 50px;
    border-radius: 12.5px;
}